/* Loader animation */
.loader div {
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*end  Loader animation */

/* Not found page */
.notfound-404 h1 {
  text-shadow: -1px -1px 0 var(--blue-main), 1px 1px 0 var(--yellow-main);
}

.notfound-404 span {
  text-shadow: 0 2px 0 var(--blue-main);
}

/* end found page */

/* start personality questions */
/* .circle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #6b7280;
} */

.circle.answered::before {
  content: "";
  position: absolute;
  background-color: #4544dc;
  inset: 0;
  border-radius: inherit;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle.answered_full::after {
  content: "✔";
  position: absolute;
  background-color: #4544dc;
  inset: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 15px;
}
.circle.answered_full {
  border-color: #4544dc;
}

.question.anwered_circle {
  background-color: #4544dc;
}

.active {
  background-color: #4544dc !important;
}

/* .circle:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 183px;
  height: 3px;
  background-color: #6b7280;
  top: 12.5px;
  left: 30px;
} */
/* end personality questions */
