/* start HomePage */
.Home::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-image:
    url('/src/assets/images/homePage/wavyBack1.png'),
    url("/src/assets/images/homePage/wavyBack2.png"),
    url("/src/assets/images/homePage/wavyBack3.png");
  background-size: 1627.179px, 1715.019px, 1608.098px;
  background-position: top, top center, right 100px;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  background-size: contain;
  width: 100%;
  z-index: -1;
  opacity: 40%;
}


@media (max-width: 991px) {
  .Home::after {
    background-image:
      url("/src/assets/images/homePage/wavy/wavyBack1.png"),
      url("/src/assets/images/homePage/wavy/wavyBack2.png"),
      url("/src/assets/images/homePage/wavy/wavyBack3.png");
    background-size: 1627.179px, 1720.367px, 200%;
    background-position: top, top, 50% 150px;
    background-repeat: no-repeat;
  }
}

/* make browsers loades images in WebP format if it is supported*/
@supports (background-image: url("image.webp")) {
  .Home::after {
    background-image: url('/src/assets/images/homePage/wavy/wavyBack1.webp'),
      url("/src/assets/images/homePage/wavy/wavyBack2.webp"),
      url("/src/assets/images/homePage/wavy/wavyBack3.webp");
  }
}

@media (max-width:480px) {
  .Home::after {
    background-image:
      url("/src/assets/images/homePage/wavy/wavyBackMob1.png"),
      url("/src/assets/images/homePage/wavy/wavyBackMob2.png"),
      url("/src/assets/images/homePage/wavy/wavyBackMob3.png");
    background-size: 30rem;
    background-position: right top, right top, right 30px;
    background-repeat: no-repeat;
    opacity: 0.6;
  }
}

.hero_sec .info .special {
  background: linear-gradient(180deg, #F8A76F 42.37%, #4F5FEB 88.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* style swiper pagination */
.carousel .swiper-pagination {
  position: relative;
  bottom: -4.5rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .carousel .swiper-pagination {
    bottom: -2.5rem !important
  }
}

.carousel .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 0 8px !important;
  opacity: 0.5;
  background: #4746DE;
}

.carousel .swiper-pagination-bullet-active {
  background: #3D3BFF;
  width: 24px;
  height: 24px;
  opacity: 1;
}

/* end swiper pagination */
/* end HomePage */

/*start dashboard */
.dashboard::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("/src/assets/images/dashboard/wavyBack1.png");
  background-repeat: no-repeat;
  width: 800px;
  height: 360px;
  z-index: -1;
  background-size: contain
}

.dashboard::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("/src/assets/images/dashboard/wavyBack2.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 1000px;
  z-index: -1;
  background-size: contain
}

/* make browsers loades images in WebP format if it is supported*/
@supports (background-image: url("image.webp")) {
  .dashboard::after {
    background-image: url("/src/assets/images/dashboard/wavyBack1.webp");
  }

  .dashboard::before {
    background-image: url("/src/assets/images/dashboard/wavyBack2.webp");
  }
}

@media(max-width:991px) {
  .dashboard::before {
    display: none;
  }
}

/* end dashboard */


/* Loader animation */
.loader div {
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*end  Loader animation */

/* Not found page */
.notfound-404 h1 {
  text-shadow: -1px -1px 0 var(--blue-main), 1px 1px 0 var(--yellow-main);
}

.notfound-404 span {
  text-shadow: 0 2px 0 var(--blue-main);
}

/* end found page */

/* start left side style */
.leftImages::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assets/images/authenticationViews/top-left-img.png"),
    url("/src/assets/images/authenticationViews/top-right-img.png"),
    url("/src/assets/images/authenticationViews/bottom-img.png");
  background-size: auto auto, auto auto, 57rem auto;
  background-position: top left, 9.5rem 0%, bottom left;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.reset_left_images::after {
  background-position: 0% -2rem, 10rem 0%, 0% 150% !important;
}

/* end left side style */

/* start login style */
.checkbox-remember-me input:checked~.checkbox__checkmark {
  background-color: #eee;
}

.checkbox-remember-me input:checked~.checkbox__checkmark:after {
  transform: scale(1);
}

.checkbox-remember-me input:checked~.checkbox__body {
  font-weight: bold;
}

.checkbox-remember-me:hover input~.checkbox__checkmark {
  background-color: #eee;
}

.checkbox-remember-me:hover input:checked~.checkbox__checkmark {
  background-color: #eee;
}

.checkbox-remember-me .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
  display: block;
  background-color: blue;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.25s ease;
}

/* end login style */

/* start signup form style */
.input__label::after {
  content: "*";
  position: absolute;
  color: red;
  top: 1px;
  right: -10px;
}

/* Checkbox style with after */
.checkbox.style-d input:checked~.checkbox__checkmark:after {
  opacity: 1;
}

.checkbox.style-d .checkbox__checkmark:after {
  content: "";
  position: absolute;
  top: 15%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 10px;
  border: solid #bdbdbd;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}

/* end signup form style */