/* Loader animation */
.loader div {
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(180deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

/*end  Loader animation */

/* Not found page */
.notfound-404 h1 {
  text-shadow: -1px -1px 0 var(--blue-main), 1px 1px 0 var(--yellow-main)
}

.notfound-404 span {
  text-shadow: 0 2px 0 var(--blue-main);
}

/* end found page */